@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
    /* dark grey */
    --gry1: #2A2A2A;
    /* main grey */
    --gry2: #313131;
    /* mid grey */
    --gry3: #949494
    /* light grey */
    --gry4: #D4D4D4;

    /* main grey */
    --orange1: #e49967;
}

html{
    background-color: var(--gry2);
}

* {
    font-family: 'Roboto', sans-serif;
}

h1{
    color: var(--orange1);
    font-size: 20;
}

.trending{
    width: 30%;
    background-color: var(--gry1);
}