@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,400i,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

:root {
    /* dark grey */
    --gry1: #2A2A2A;
    /* main grey */
    --gry2: #313131;
    --gry25: #3b3b3b;
    /* mid grey */
    --gry3: #949494;
    /* light grey */
    --gry4: #D4D4D4;

    /* main grey */
    --orange1: #e49967;
}

html{
    background-color: var(--gry2);
}

* {
    text-decoration: none;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

.trending hr{
    margin: 10px 20%;
    height: 2px;
    width: calc(100%-20px);
    background-color: var(--gry25);
    border: none;
}

.trending{
    width: 15vw;
    min-width: 120px;
    height: 100vh;
    background-color: var(--gry1);
    padding: 0px 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.trending h1{
    color: var(--orange1);
    font-size: calc(1vw + 10px);
    font-weight: 300;
    margin: 0px auto;
}

.trending-suggestion{
    font-size: 90%;
    color: var(--gry3);
    margin: 5px auto;

    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
}

.trending-suggestion:hover{
    opacity: 0.7
}

.searchbar{
    margin: auto;
    display: flex;
    flex-direction: column;
}

.searchbar #globe{
    width: 35vw;
    max-width: 80vh;
    margin: auto;
    margin-top: -15vw;
}

.searchbar #moon{
    width: 7vw;
    max-width: 12vh;
    margin: auto;
    margin-top: -15vw;
    margin-right: 0.5vw;
}

.homepage{
    display: flex;
    flex-direction: row;
}

.searchbar div{
    display: flex;
    flex-direction: column;
}


#example{
    z-index: 2;
    display: inline-block;
}

#example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

#example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

#example button:hover {
  background: #0b7dda;
}

#example::after {
  content: "";
  clear: both;
  display: table;
}