<!doctype html>
<html>
    <head>
        <title>Trendit</title>
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
        <link rel= "stylesheet" href= "{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <div class="trending">
            <h1>TRENDING</h1>
            <hr class="trending-bar">
<!--            {% for search in trendingSearches %}-->
<!--                <a class="trending-suggestion">{{search}}</a>-->
<!--            {% endfor %}-->
            <a class="trending-suggestion" href="google.ca">afdsf</a>
            <a class="trending-suggestion" href="google.ca">waersdf</a>
            <a class="trending-suggestion" href="google.ca">hdfh</a>
        </div>

        <div class="search-bar">

        </div>
    </body>
</html>